DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=
ADMIN_PASSWORD_HASH=
RESEND_API_KEY=
RESEND_TO_EMAIL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FRONTEND_URL=
PORT=8080
